@page
@model HomeSchoolDayBook.Pages.Entries.AssignPointsModel
@{
    ViewData["Title"] = "Assign Points";
}

<h2>Assign Points to Entry</h2>

<hr />

<div>
    <h4>@Html.DisplayFor(model => model.Entry.Title), @Html.DisplayFor(model => model.Entry.Date)</h4>
    <h6>@Html.DisplayFor(model => model.Entry.ComputedTimeSpent)</h6>
    <p>@Html.DisplayFor(model => model.Entry.Description)</p>
</div>

<hr />

@foreach (var enr in Model.Entry.Enrollments)
{
    <div class="row">
        <div class="col">
            <h4>@enr.Student.Name</h4>
        </div>
    </div>

    

}


