@page
@model HomeSchoolDayBook.Pages.Entries.IndexModel

@{
    ViewData["Title"] = "My Entries";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Create New Entry</a>
</p>
<table class="table" id="entryindex">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entries[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entries[0].Title)
            </th>
            <th>
                Students
            </th>
            <th>
                Subjects
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.Entries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => entry.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => entry.Title)
                </td>
                <td>
                    @foreach (var enr in entry.Enrollments.OrderBy(enr => enr.Student.Name))
                    {
                        <p>
                            @enr.Student.Name
                        </p>
                    }
                </td>
                <td>
                    @foreach (var sa in entry.SubjectAssignments.OrderBy(sa => sa.Subject.Name))
                    {
                        <p>
                            @sa.Subject.Name
                        </p>
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@entry.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@entry.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@entry.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>src = "~/lib/datatables/datatables.min.js"</script>
<link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />

<script>
    $(document).ready(function () {
        $('#entryindex').DataTable({
            "order": [[0, "desc"], [1, "asc"]],
            columns: [
                { data: "date", type: "date" },
                { data: "title" },
                { data: "students", "orderable": false },
                { data: "subjects", "orderable": false },
                { data: "links", "orderable": false }
            ]
        });
    });
</script>