@page
@model HomeSchoolDayBook.Pages.Grades.GradesForSubjectsModel
@section CSS {
    <link rel="stylesheet" href="~/lib/datepicker/bootstrap-datepicker-standalone.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
}

@{
    ViewData["Title"] = "Grades";
}

<h2>@ViewData["Title"]</h2>
<hr />
<form method="get" class="sidemargins" id="grade-summary-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group  col-md-2 col-sm-3 col-xs-5">
            <label asp-for="StudentID" class="control-label"></label>
            <select asp-for="StudentID" asp-items="Model.StudentOptions" class="form-control">
                <option value="">-- Select Student --</option>
            </select>
            <span asp-validation-for="StudentID" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2 col-sm-3 col-xs-5">
            <label asp-for="FromDate" class="control-label"></label>
            <input asp-for="FromDate" type="text" class="form-control" />
            <span asp-validation-for="FromDate" class="text-danger"></span>
        </div>
        <div class="form-group  col-md-2 col-sm-3 col-xs-5">
            <label asp-for="ToDate" class="control-label"></label>
            <input asp-for="ToDate" type="text" class="form-control" />
            <span asp-validation-for="ToDate" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-2 bottom-aligned">
            <input type="submit" value="Get Grades" class="btn btn-default" />
        </div>
    </div>
</form>
<div>
    <table class="table" id="gradeindex">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectGrades[0].Subject.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectGrades[0].PointsEarned)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectGrades[0].PointsAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectGrades[0].PercentEarned)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SubjectGrades)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PointsEarned)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PointsAvailable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PercentEarned)
                    </td>
                    <td>
                        <a asp-page="./GradesForEntries" 
                        asp-route-StudentID="@Model.StudentID" 
                        asp-route-SubjectID="@item.Subject.ID" 
                        asp-route-FromDate="@Model.FromDate.ToShortDateString()" 
                        asp-route-ToDate="@Model.ToDate.ToShortDateString()">View Individual Entries</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#FromDate').datepicker({
                orientation: "bottom"
            });
            $('#ToDate').datepicker({
                orientation: "bottom"
            });
            $('#gradeindex').DataTable({
                "language": {
                    "lengthMenu": "Show _MENU_ subjects"
                },
                "order": [[0, "asc"]],
                "columnDefs": [
                    { className: "text-right", "targets": [1,2,3,4]
                    }], 
                columns: [
                    { data: "name" },
                    { data: "earned" },
                    { data: "available" },
                    { data: "percent" },
                    { data: "links", "orderable": false}
                ]
            });
        });
    </script>
}


