@page
@model HomeSchoolDayBook.Pages.Reports.AttendanceModel
@{
    Layout = "_ReportsLayout";
    ViewData["Title"] = "Attendance";
}

<h3>Attendance</h3>
<h4>@Html.DisplayFor(model => model.StartDate) to @Html.DisplayFor(model => model.EndDate) </h4>

<hr />

@foreach (var student in Model.StudentAttendances)
{
    <div class="row">
        <div class="col-xs-12">
            <h4>@student.StudentName </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 indented-report">
            <p>present @student.DaysAttended out of @Model.TotalDays days</p>
        </div>
    </div>
    <hr />   
}