@page
@model HomeSchoolDayBook.Pages.Reports.EntriesInFullModel
@{
    ViewData["Title"] = "Entries in Full";
    Layout = "~/Pages/Reports/_ReportsLayout.cshtml";

    DateTime lastDisplayedDate = DateTime.MinValue;
}

<h3>Entries In Full</h3>
<h4>@Html.DisplayFor(model => model.StartDate) to @Html.DisplayFor(model => model.EndDate)</h4>
<h4>@Html.DisplayFor(model => model.ReportStudentNames)</h4>

@foreach (var entry in Model.EntriesInFullVMs)
{
    @if (entry.Date != lastDisplayedDate)
    {
        <div class="row">
            <div class="col-xs-12">
                <h5>@Html.DisplayFor(modelItem => entry.Date)</h5>
            </div>
        </div>
        {
            lastDisplayedDate = entry.Date;
        }
    }
    <div class="row report-row">     
        <div class="col-xs-12 indented-report">
            <p>
                <strong>@Html.DisplayFor(modelItem => entry.Title):</strong>
                @Html.DisplayFor(modelItem => entry.Description)
                <br />
                <strong>@Html.DisplayNameFor(modelItem => entry.Students):</strong>
                @Html.DisplayFor(modelItem => entry.Students)
                <br />
                <strong>@Html.DisplayNameFor(modelItem => entry.Subjects):</strong>
                @Html.DisplayFor(modelItem => entry.Subjects)
                <br />
                <strong>@Html.DisplayNameFor(modelItem => entry.ComputedTimeSpent):</strong>
                @Html.DisplayFor(modelItem => entry.ComputedTimeSpent)
                <br />
                <strong>@Html.DisplayNameFor(modelItem => entry.Grades):</strong>
                <br />
                @foreach (var grade in entry.Grades)
                {
                    @grade.Student.Name@:,&nbsp;
                    @grade.Subject.Name@::&nbsp;
                    @grade.PointsEarned@:&nbsp;/
                    @grade.PointsAvailable<br />
                }
            </p>
        </div>
    </div>
}