@page
@model HomeSchoolDayBook.Pages.Reports.EntriesInBriefModel
@{
    ViewData["Title"] = "Entries in Brief";
    Layout = "~/Pages/Reports/_ReportsLayout.cshtml";
}

<h3>Entries In Brief</h3>
<h4>@Html.DisplayFor(model => model.StartDate) to @Html.DisplayFor(model => model.EndDate)</h4>
<h4>@Html.DisplayFor(model => model.ReportStudentNames)</h4>

<hr />

<div class="row table-row">
    <div class="col-xs-1">
        @Html.DisplayNameFor(model => model.EntriesInBriefVMs[0].Date)
    </div>
    <div class="col-xs-5">
        @Html.DisplayNameFor(model => model.EntriesInBriefVMs[0].Title)
    </div>
    <div class="col-xs-3">
        @Html.DisplayNameFor(model => model.EntriesInBriefVMs[0].StudentNames)
    </div>
    <div class="col-xs-3">
        @Html.DisplayNameFor(model => model.EntriesInBriefVMs[0].SubjectNames)
    </div>
</div>

@foreach (var entry in Model.EntriesInBriefVMs)
{
    <div class="row table-row">
        <div class="col-xs-1">
            @Html.DisplayFor(modelItem => entry.Date)
        </div>
        <div class="col-xs-5">
            @Html.DisplayFor(modelItem => entry.Title)
        </div>
        <div class="col-xs-3">
            @foreach (string studentName in entry.StudentNames)
            {
                @Html.DisplayFor(viewmodeltem => studentName) <br />
            }
        </div>
        <div class="col-xs-3">
            @foreach (string subjectName in entry.SubjectNames)
            {
                @Html.DisplayFor(viewmodelItem => subjectName) <br />
            }
        </div>
    </div>
}