@page
@model HomeSchoolDayBook.Pages.Reports.EntriesInBriefModel
@{
    ViewData["Title"] = "Entries in Brief";
    Layout = "~/Pages/Reports/_ReportsLayout.cshtml";
}

<h3>Entries In Brief</h3>
<h4>@Html.DisplayFor(model => model.EntriesReportVM.StartDate) to @Html.DisplayFor(model => model.EntriesReportVM.EndDate)</h4>
<h4>@Html.DisplayFor(model => model.EntriesReportVM.StudentNames)</h4>

<hr />

<div class="row table-row">
    <div class="col-xs-1">
        @Html.DisplayNameFor(model => model.EntriesReportVM.Entries[0].Date)
    </div>
    <div class="col-xs-5">
        @Html.DisplayNameFor(model => model.EntriesReportVM.Entries[0].Title)
    </div>
    <div class="col-xs-3">
        @Html.DisplayNameFor(model => model.EntriesReportVM.Entries[0].Enrollments.ToList()[0].Student.Name)
    </div>
    <div class="col-xs-3">
        @Html.DisplayNameFor(model => model.EntriesReportVM.Entries[0].SubjectAssignments.ToList()[0].Subject.Name)
    </div>
</div>

@foreach (var entry in Model.EntriesReportVM.Entries)
{
    <div class="row table-row">
        <div class="col-xs-1">
            @Html.DisplayFor(model => entry.Date)
        </div>
        <div class="col-xs-5">
            @Html.DisplayFor(model => entry.Title)
        </div>
        <div class="col-xs-3">
            @foreach (var enr in entry.Enrollments.OrderBy(enr => enr.Student.Name))
            {
                @Html.DisplayFor(model => enr.Student.Name) <br />
            }
        </div>
        <div class="col-xs-3">
            @foreach (var sa in entry.SubjectAssignments.OrderBy(sa => sa.Subject.Name))
            {
                @Html.DisplayFor(model => sa.Subject.Name) <br />
            }
        </div>
    </div>
}