@page
@model HomeSchoolDayBook.Pages.Reports.EntriesInBriefModel

@{
    ViewData["Title"] = "Entries in Brief";
    Layout = "~/Pages/Reports/_ReportsLayout.cshtml";
}

<h3>Entries In Brief</h3>
<h4>@Html.DisplayFor(model => model.StartDate) to @Html.DisplayFor(model => model.EndDate)</h4>
<h4>@Html.DisplayFor(model => model.ReportStudentNames)</h4>

<hr />
<table class="table" id="entrytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntriesInBriefVMs[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntriesInBriefVMs[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntriesInBriefVMs[0].StudentNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntriesInBriefVMs[0].SubjectNames)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.EntriesInBriefVMs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => entry.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => entry.Title)
                </td>
                <td>
                    @foreach (string studentName in entry.StudentNames)
                    {
                        @Html.DisplayFor(viewmodeltem => studentName) <br />
                    }
                </td>
                <td>
                    @foreach (string subjectName in entry.SubjectNames)
                    {
                        @Html.DisplayFor(viewmodelItem => subjectName) <br />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>