@page
@model HomeSchoolDayBook.Pages.Reports.EntriesInBriefModel
@{
    ViewData["Title"] = "EntriesInBrief";
    Layout = "~/Pages/Reports/_ReportsLayout.cshtml";
}

<h3>Entries In Brief, @Html.DisplayFor(model => model.StartDate) to @Html.DisplayFor(model => model.EndDate)</h3>
<h4>for @Html.DisplayFor(model => model.StudentNames)</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entries[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entries[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entries[0].Enrollments.ToList()[0].Student.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entries[0].SubjectAssignments.ToList()[0].Subject.Name)
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var entry in Model.Entries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => entry.Date)
                </td>
                <td>
                    @Html.DisplayFor(model => entry.Title)
                </td>
                <td>
                    @foreach (var enr in entry.Enrollments.OrderBy(enr => enr.Student.Name))
                    {
                        @Html.DisplayFor(model => enr.Student.Name) <br />
                    }
                </td>
                <td>
                    @foreach (var sa in entry.SubjectAssignments.OrderBy(sa => sa.Subject.Name))
                    {
                        @Html.DisplayFor(model => sa.Subject.Name) <br />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>