@page
@model HomeSchoolDayBook.Pages.Reports.GradesForSubjectsModel
@using System.Text;
@{
    Layout = "~/Pages/Reports/_ReportsLayout.cshtml";
    ViewData["Title"] = "Grades";
}

<h3>@ViewData["Title"]</h3>
<h4>@Html.DisplayFor(model => model.StartDate) to @Html.DisplayFor(model => model.EndDate)</h4>

<hr />

<table class="table" id="grade-table">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.StudentGradesBySubject[0].SubjectName)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.StudentGradesBySubject[0].PointsEarned)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.StudentGradesBySubject[0].PointsAvailable)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.StudentGradesBySubject[0].PercentEarned)</th>
        </tr>
    </thead>
    <tbody>
        @{
            string previousStudent = "none";
            foreach (var studentSubject in Model.StudentGradesBySubject)
            {
                @:<tr>
                    if (previousStudent == studentSubject.StudentName)
                    {
                        @:<td></td>
                    }
                    else
                    {
                        @:<td>@Html.DisplayFor(modelItem => studentSubject.StudentName)</td>
                    }

                    @:<td>@Html.DisplayFor(modelItem => studentSubject.SubjectName)</td>
                    @:<td class="text-right">@Html.DisplayFor(modelItem => studentSubject.PointsEarned)</td>
                    @:<td class="text-right">@Html.DisplayFor(modelItem => studentSubject.PointsAvailable)</td>
                    @:<td class="text-right">@Html.DisplayFor(modelItem => studentSubject.PercentEarned)</td>
                @:</tr>
                previousStudent = studentSubject.StudentName;

            }
        }
    </tbody>
</table>