@page
@model HomeSchoolDayBook.Pages.Reports.IndexModel
@using System.Text.RegularExpressions;

@section CSS {
    <link rel="stylesheet" href="~/lib/datepicker/bootstrap-datepicker-standalone.css" />
}

@{
    ViewData["Title"] = "Create a Report";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" target="_blank" id="reportForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FromDate" class="control-label"></label>
                <input asp-for="FromDate" type="text" class="form-control" />
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ToDate" class="control-label"></label>
                <input asp-for="ToDate" type="text" class="form-control" />
                <span asp-validation-for="ToDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StudentCheckBoxes" class="control-label"></label>
                <span id="studentValidationMessage" class="text-danger"></span>
                <p class="text-danger">@Model.NoStudentsMessage</p>
                <div class="row">
                    @foreach (var checkbox in Model.StudentCheckBoxes)
                    {
                        string isChecked = checkbox.Assigned ? "checked" : "";

                        <div class="col-md-6 ">
                            <label class="notbold">
                                <input type="checkbox" name="selectedStudents" value="@checkbox.ID" @isChecked />
                                @checkbox.Name
                            </label>
                        </div>
                     }
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Choose a Report</label>
                <span id="reportValidationMessage" class=" text-danger"></span>
                <div class="row">
                    @foreach (var reportView in Model.ReportViews)
                    {
                        string reportNameCamel = Regex.Replace(reportView, "[^a-zA-Z]", "");
                        string reportName = Regex.Replace(reportNameCamel, "(?!^)([A-Z])", " $1");

                        <div class="col-md-6">
                            <label class="notbold">
                                <input type="radio" name="selectedReport" value="@reportView" />
                                @reportName
                            </label>
                        </div>
                    }
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create Report" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/datepicker/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#FromDate").datepicker({
                orientation: "bottom right"
            });

            $("#ToDate").datepicker({
                orientation: "bottom right"
            });
            
            $('#reportForm').submit(function () {
                var $students = $(this).find('input[name="selectedStudents"]:checked');
                var $report = $(this).find('input[name="selectedReport"]:checked');
                if (!$students.length) {
                    $('#studentValidationMessage').html('You must select at least one Student.');
                    return false; 
                }
                if (!$report.length) {
                    $('#reportValidationMessage').html('You must select a Report.');
                    return false;
                }
            });
            
        });
    </script>
}

