@page
@model HomeSchoolDayBook.Pages.Reports.TimeSpentPerSubjectModel
@{
    ViewData["Title"] = "Time Spent per Subject";
    Layout = "~/Pages/Reports/_ReportsLayout.cshtml";
}
<h3>Time Spent per Subject</h3>
<h4>@Html.DisplayFor(model => model.StartDate) to @Html.DisplayFor(model => model.EndDate) </h4>

<hr />

@foreach (var student in Model.StudentTimeSpents)
{
    <div class="row">
        <div class="col-xs-12">
            <h4>@student.Student.Name</h4>
        </div>
    </div>

    @foreach (var subject in student.TimePerSubjectLookup.OrderBy(d => d.Key.Name))
    {
        string formattedSubject = subject.Key.Name;

        string formattedTimeSpent = Helpers.Helpers.GetTimeSpentDisplay(subject.Value);

        <div class="row">
            <div class="col-xs-7 indented-report">
                @Html.DisplayFor(modelItem => formattedSubject)
            </div>
            <div class="col-xs-5">
                @Html.DisplayFor(modelItem => formattedTimeSpent)
            </div>
        </div>
    }
    <hr />
}