@page
@model HomeSchoolDayBook.Pages.Reports.TimeSpentPerSubjectModel

@{
    ViewData["Title"] = "Time Spent per Subject";
    Layout = "~/Pages/Reports/_ReportsLayout.cshtml";
}
<h3>@ViewData["Title"]</h3>
<h4>@Html.DisplayFor(model => model.StartDate) to @Html.DisplayFor(model => model.EndDate) </h4>

<hr />

<table class="table" id="time-spent-per-subject-table">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.TimeSpentPerSubjectVMs[0].SubjectName)</th>
            <th>@Html.DisplayNameFor(model => model.TimeSpentPerSubjectVMs[0].ComputedTimeSpent)</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            string previousStudent = "none";
            foreach (var studentSubject in Model.TimeSpentPerSubjectVMs)
            {

                @:<tr>
                    if (previousStudent == studentSubject.StudentName)
                    {
                        @:<td></td>
                    }
                    else
                    {
                        @:<td>@Html.DisplayFor(modelItem => studentSubject.StudentName)</td>
                    }

                    @:<td>@Html.DisplayFor(modelItem => studentSubject.SubjectName)</td>
                    @:<td>@Html.DisplayFor(modelItem => studentSubject.ComputedTimeSpent)</td>
                @:</tr>

                previousStudent = studentSubject.StudentName;
            }
        }
    </tbody>
</table>
