@page
@model HomeSchoolDayBook.Pages.Reports.TimeSpentPerDayModel
@{
    ViewData["Title"] = "TimeSpentPerDay";
    Layout = "~/Pages/Reports/_ReportsLayout.cshtml";
}

<h2>Time Spent per Day, @Html.DisplayFor(model => model.StartDate) to @Html.DisplayFor(model => model.EndDate) </h2>
<h3>All Subjects</h3>
<hr />

        @foreach (var student in Model.StudentTimeSpents)
        {
            <h3>@student.Student.Name:</h3>
            @foreach (var day in student.TimePerDayLookup)
            {
                <p>@Html.DisplayFor(model => day.Key): @Html.DisplayFor(model => day.Value)</p>
            }
            <hr />
        }
