@page
@model HomeSchoolDayBook.Pages.Reports.TimeSpentPerDayModel
@{
    ViewData["Title"] = "TimeSpentPerDay";
    Layout = "~/Pages/Reports/_ReportsLayout.cshtml";
}

<h3>Time Spent per Day, @Html.DisplayFor(model => model.StartDate) to @Html.DisplayFor(model => model.EndDate) </h3>
<h4>All Subjects</h4>
<hr />

        @foreach (var student in Model.StudentTimeSpents)
        {
            <h4>@student.Student.Name:</h4>
            <table class="table">
                <tbody>
                    @foreach (var day in student.TimePerDayLookup)
                    {
                        string formattedDate = $"{day.Key.ToShortDateString()} ({day.Key.DayOfWeek})";

                        string formattedTimeSpent = Helpers.Helpers.GetTimeSpentDisplay(day.Value);

                        <tr>
                            <td>
                                @Html.DisplayFor(modelitem => formattedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => formattedTimeSpent)
                            </td>
                        </tr>
                    }
                    </tbody>
            </table>
            <hr />
        }
