@page
@model HomeSchoolDayBook.Pages.Reports.TimeSpentPerDayModel
@{
    ViewData["Title"] = "Time Spent per Day";
    Layout = "~/Pages/Reports/_ReportsLayout.cshtml";
}

<h3>@ViewData["Title"]</h3>
<h4>@Html.DisplayFor(model => model.StartDate) to @Html.DisplayFor(model => model.EndDate) </h4>

<hr />

<table class="table" id="time-spent-per-day-table">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.TimeSpentPerDayVMs[0].FormattedDate)</th>
            <th>@Html.DisplayNameFor(model => model.TimeSpentPerDayVMs[0].ComputedTimeSpent)</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            string previousStudent = "none";
            foreach (var timeSpentPerDayVM in Model.TimeSpentPerDayVMs)
            {
                @:<tr>
                    if (previousStudent == timeSpentPerDayVM.StudentName)
                    {
                        @:<td></td>
                    }
                    else
                    {
                        @:<td>@Html.DisplayFor(modelItem => timeSpentPerDayVM.StudentName)</td>
                    }

                    @:<td>@Html.DisplayFor(modelItem => timeSpentPerDayVM.FormattedDate)</td>
                    @:<td>@Html.DisplayFor(modelItem => timeSpentPerDayVM.ComputedTimeSpent)</td>
                @:</tr>

                previousStudent = timeSpentPerDayVM.StudentName;
            }
        }
    </tbody>
</table>