@page
@model HomeSchoolDayBook.Pages.Subjects.IndexModel

@section CSS {
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
}

@{
    ViewData["Title"] = "My Subects";
}

<h2>My Subjects</h2>

<p>
    <a asp-page="Create">Create New Subject</a>
</p>
<hr />
<table class="table" id="subjectindex">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subjects[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subjects[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Subjects)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @(item.IsActive ? "Yes" : "No")
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> @*|
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<a asp-page="../Entries/Index">My Entries</a>


@section Scripts {
    <script src="~/lib/datatables/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#subjectindex').DataTable({
                "language": {
                    "lengthMenu": "Show _MENU_ subjects"
                },
                "order": [[1, "desc"], [0, "asc"]],
                columns: [
                    { data: "name" },
                    { data: "isactive" },
                    { data: "links", "orderable": false }
                ]
            });
        });
    </script>
}