@page
@model HomeSchoolDayBook.Pages.Students.IndexModel
@section CSS {
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
}

@{
    ViewData["Title"] = "My Students";
}

<h2>My Students</h2>

<p>
    <a asp-page="Create">Create New Student</a>
</p>
<hr />
<table class="table" id="studentindex">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @(item.IsActive ? "Yes" : "No")
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<a asp-page="../Entries/Index">My Entries</a>

@section Scripts {
    <script src="~/lib/datatables/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#studentindex').DataTable({
                "language": {
                    "lengthMenu": "Show _MENU_ students"
                },
                "order": [[1, "desc"], [0, "asc"]],
                columns: [
                    { data: "name" },
                    { data: "isactive" },
                    { data: "links", "orderable": false }
                ]
            });
        });
    </script>
}